@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

@import './HeaderContainer.scss';
@import './PlayerInputContainer.scss';
@import './ScoreBoard.scss';
@import './PlayerChoiceButton.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $radial_blue;
}

body,
#root {
  width: 100vw;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}