.player-choice-btn {
    outline: none;
    background: transparent;
    border: 0;
    z-index: 2;
    width: 100%;
    transition: .1s ease-in-out transform;

    .player-choice-btn-inner {
        width: 100%;
        aspect-ratio: 1/1;
        background-color: #fff;
        position: relative;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 8px 0px 0px #B9BDD4;

        img {
            height: 80px;
        }

        &::before {
            content: "";
            display: block;
            height: 130%;
            width: 130%;
            border-radius: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            z-index: -1;
        }
    }

    &.paper {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        .player-choice-btn-inner {
            &::before {
                background-image: $paper_gradient;
                box-shadow: hsl(230, 89%, 55%) 0px 10px; 
            }
        }
    }

    &.rock {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        .player-choice-btn-inner {
            &::before {
                background-image: $rock_gradient;
                box-shadow: hsl(349, 71%, 35%) 0px 10px; 
            }
        }
    }

    &.scissors {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        .player-choice-btn-inner {
            &::before {
                background-image: $scissors_gradient;
                box-shadow: hsl(39, 89%, 35%) 0px 10px; 
            }
        }
    }
}

.player-input-container {
    .player-choice-btn {
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}

.results-container  {
    .player-choice-btn {
        width: 80%;
    }
}